.list-table td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
.sbtype {
    min-width: 50px;
}
.sbno {
    min-width: 140px;
}
.revw {
	width: 60px;
}
.mleft2 {
	margin-left: 2px;
}
.bnone {
    border: none !important;
}
.vmiddle {
    valign: middle !important;
}
textarea {
    width: 100%;
    border: 1px solid rgb(221, 221, 221);
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}
