<div class="panel panel-default">
    <div class="panel-heading">
        <a href="#afile-collapse" ng-click="afileCollapse = !afileCollapse" ng-class="{'collapsed':afileCollapse,'expanded':!afileCollapse}">
            첨부파일
        </a>
    </div>
    <table id="afile-collapse" ng-init="afileCollapse=false" collapse="afileCollapse" class="table table-condensed afile-table">
        <thead>
            <tr>
                <!-- <td colspan="2">
                    <input ng-model="fquery" id="fquery" class="form-control control-label input-sm" placeholder="검색" />
                </td> -->
                <td colspan="4">
                    <!-- <label for="file_type" class="control-label">
                        <input ng-model="fquery" id="fquery" class="input-sm" placeholder="검색" />
                        <select id="file_type" class="input-sm" ng-model="file_type" ng-change="fileTypeChange(file_type)" ng-options="fileType.value as fileType.label for fileType in fileTypes" />
                    </label> -->
                    <div class="input-group">
                        <input ng-model="fquery" id="fquery" class="input-sm form-control" placeholder="검색" />
                        <select id="file_type" class="input-sm" ng-model="file_type" ng-change="fileTypeChange(file_type)" ng-options="fileType.value as fileType.label for fileType in fileTypes" />
                        <div class="btn btn-success btn-sm btn-file">
                            <span class="glyphicon glyphicon-upload"></span>파일 추가<input type="file" nv-file-select="" uploader="uploader" multiple />
                        </div>
                        <button type="button" class="btn btn-danger btn-sm" ng-click="delAFiles()" ng-disabled="!afiles.length">
                            <span class="glyphicon glyphicon-trash"></span>파일 삭제
                        </button>
                    </div>
                </td>
            </tr>
            <tr ng-hide="afiles.length < 1">
                <th ng-click="fileSort('selected')">선택
                    <span class="glyphicon sort-icon" ng-show="fileSortKey=='selected'" ng-class="{'glyphicon-chevron-up':fileReverse,'glyphicon-chevron-down':!fileReverse}"></span>
                </th>
                <th ng-click="fileSort('file_type')">종류
                    <span class="glyphicon sort-icon" ng-show="fileSortKey=='file_type'" ng-class="{'glyphicon-chevron-up':fileReverse,'glyphicon-chevron-down':!fileReverse}"></span>
                </th>
                <th ng-click="fileSort('file_name')">파일명
                    <span class="glyphicon sort-icon" ng-show="fileSortKey=='file_name'" ng-class="{'glyphicon-chevron-up':fileReverse,'glyphicon-chevron-down':!fileReverse}"></span>
                </th>
                <th ng-click="fileSort('file_size')">크기
                    <span class="glyphicon sort-icon" ng-show="fileSortKey=='file_size'" ng-class="{'glyphicon-chevron-up':fileReverse,'glyphicon-chevron-down':!fileReverse}"></span>
                </th>
            </tr>
        </thead>
        <tbody ng-hide="afiles.length < 1">
            <tr dir-paginate="item in afiles|orderBy:fileSortKey:fileReverse|filter:fileSearch|itemsPerPage:10">
                <td class="col-sm-1">
                    <input name="chkbox" type="checkbox" ng-model="item.selected" class="form-control input-sm" />
                    <label for="chkbox" class="sr-only"></label>
                </td>
                <td class="col-sm-2">
                    {{enums.FILE_TYPE[item.file_type].label}}
                </td>
                <td class="col-sm-8">
                    <span ng-ficon="{ fname: item.file_name, size: 16 }"></span>&nbsp;
                    <a href="/api/afiles/down/{{item._id}}" target="_self">{{item.file_name}}</a>
                </td>
                <td class="col-sm-1" align="right">
                    {{item.file_size | fileSize}}
                </td>
            </tr>
        </tbody>
        <tfoot ng-hide="afiles.length < 1">
            <tr>
                <td colspan="4" class="text-center">
                    <dir-pagination-controls max-size="9" direction-links="true" boundary-links="true"/>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<!--    <div>
        <div class="col-md-3">
            <h3>
                Select files</h3>
            <div ng-show="uploader.isHTML5">
                <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                    Base drop zone
                </div>
                <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                    <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
                        Another drop zone with its own settings
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9" style="margin-bottom: 40px">
            <h2>
                Uploads only images (with canvas preview)</h2>
            <h3>
                The queue</h3>
            <p>
                Queue length: {{ uploader.queue.length }}</p>
            <table class="table">
                <thead>
                    <tr>
                        <th width="50%">
                            Name
                        </th>
                        <th ng-show="uploader.isHTML5">
                            Size
                        </th>
                        <th ng-show="uploader.isHTML5">
                            Progress
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td>
                            <strong>{{ item.file.name }}</strong>
                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }">
                            </div>
                        </td>
                        <td ng-show="uploader.isHTML5" nowrap>
                            {{ item.file.size/1024/1024|number:2 }} MB
                        </td>
                        <td ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }">
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span><span
                                ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span>Upload
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span>Cancel
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span>Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <div>
                    Queue progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()"
                    ng-disabled="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span>Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()"
                    ng-disabled="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span>Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()"
                    ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span>Remove all
                </button>
            </div>
        </div>
    </div>-->
