<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Products</h1>
    <p class="lead">Aircraft and Aircraft Parts</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Products:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="product in products">
        <li><a ui-sref="#" ng-click="showProduct(product)" tooltip="{{product.name}}">{{product.model}} {{product.sub_model}} {{product.revision}}<button type="button" class="close" ng-click="deleteProduct(product)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="product-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new product here." ng-model="newProduct">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addProduct()">Add New</button>
      </span>
    </p>
  </form>

  <div class="product-detail" ng-show="showdetail">
      <form name="form" class="product-detail-form">
        <label>Product Detail</label>
        <div class="input-group">
            <div class="row">
                <h4>{{aircraftProduct.full_name}}</h4>    
            </div>
            <div class="row" ng-class="{'has-error': form.comp_type.$invalid, 'has-success': !form.comp_type.$invalid}">
                <label for="comp_type" class="control-label">부품 타입</label>
                <div class="col">
                    <select id="comp_type" name="comp_type" ng-init="coptypes[0].value" ng-model="aircraftProduct.comp_type" ng-options="comptype.value as comptype.label for comptype in comptypes"></select>
                </div>
            </div>
            <div class="row" ng-class="{'has-error': form.model.$invalid, 'has-success': !form.model.$invalid}">
                <label for="model" class="control-label">Model</label>
                <div class="col">
                    <input type="text" id="model" name="model" class="form-control" value="{{aircraftProduct.model}}" ng-model="aircraftProduct.model" placeholder="Product model" required>
                    <p class="help-block error" ng-show="form.model.$dirty && form.model.$error.required">please enter product model</p>
                </div>
                <label for="sub_model" class="control-label">Sub Model</label>
                <div class="col">
                    <input type="text" id="sub_model" name="sub_model" class="form-control" value="{{aircraftProduct.sub_model}}" ng-model="aircraftProduct.sub_model" placeholder="Product sub_model">
                    <p class="help-block error" ng-show="form.sub_model.$dirty && form.sub_model.$error.required">please enter product sub_model</p>
                </div>
                <label for="revision" class="control-label">Revision</label>
                <div class="col">
                    <input type="text" id="revision" class="form-control" value="{{aircraftProduct.revision}}" ng-model="aircraftProduct.revision" placeholder="Product model revision">
                    <p class="help-block error" ng-show="form.revision.$dirty && form.revision.$error.required">please enter product revision</p>
                </div>
            </div>

            <div class="row" ng-class="{'has-error': form.mfg.$invalid, 'has-success': !form.mfg.$invalid}">
                <label for="mfg" class="control-label">Manufacturer</label>
                <div class="col">
                    <select id="mfg" name="mfg" ng-init="manufacturers[0]" ng-model="aircraftProduct._manufacturer" ng-change="selchange()" ng-options="mfg.name for mfg in manufacturers track by mfg._id"></select>
                </div>
            </div>
<!--
            <div class="row" ng-class="{'has-error': form.mfg2.$invalid, 'has-success': !form.mfg2.$invalid}">
                <form>
                    <label for="mfg2" class="control-label">Manufacturer</label>
                    <div name="mfg2" angucomplete-alt id="ex8" placeholder="Manufacturers" pause="100" selected-object="selectedMfg" local-data="manufacturers" search-fields="name" title-field="name" minlength="1" input-class="form-control form-control-small" match-class="highlight" field-required="true" initial-value="{{aircraftProduct._manufacturer.name}}" required></div>
                </form>
            </div>
-->
          <span class="input-group-btn2">
            <button type="submit" class="btn btn-primary" ng-click="updateProduct(aircraftProduct)" 
                ng-disabled="form.model.$dirty && form.model.$invalid && form.mfg.$dirty && form.mfg.$invalid">Update</button>
          </span>
        </div>
      </form>
    </div>
</div>

<div ui-view></div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
