<div class="container">
  <div class="aircraft-detail">
      <h2 ng-hide="!aircraft.reg_no">{{aircraft.reg_no | lsaRegNo}}</h2>
      <div id="aircraft_image" ng-hide="showcmd==='add' && !showimage" ng-controller="AImageCtrl" ng-init="init(aimages)">
        <a-images></a-images>
      </div>
      <form name="form" class="aircraft-detail-form form-horizontal">
        <fieldset>
            <div class="panel panel-default form-group">
                <div class="panel-heading">등록정보</div>
                <table class="table table-bordered table-condensed">
                    <tbody>
                        <tr class="form-group">
                            <td>
                                <label for="reg_no" class="control-label">{{regLabel}}</label>
                            </td>
                            <td colspan="3" ng-class="{'has-error': form.reg_no.$invalid, 'has-success': !form.reg_no.$invalid}">
                                <input type="text" name="reg_no" class="form-control input-sm" value="{{aircraft.reg_no | lsaRegNo}}" placeholder="{{regLabel}}" ng-model="aircraft.reg_no" ng-change="regNoChange(aircraft.reg_no)" ui-validate-async="{regcheck: 'regCheckAsync($modelValue)'}" ng-pattern="/^(HLC|HL-C)[\d]{3}$/i" ng-disabled="showcmd!=='add'" required />
                                <div class="error-container" ng-show="form.reg_no.$dirty && form.reg_no.$invalid">
                                    <small class="help-block error" ng-show="form.reg_no.$error.required || form.reg_no.$error.pattern">정확한 등록부호를 입력하여 주십시오(예: HL-C001 등)</small>
                                    <small class="help-block error" ng-show="form.reg_no.$error.regcheck">이미 등록된 번호입니다.</small>
                                </div>
                            </td>
                        </tr>
                        <tr class="form-group" ng-hide="showcmd==='add' && form.reg_no.$invalid">
                            <td class="col-sm-2">
                                <label for="reg_status" class="control-label">등록상태</label>
                            </td>
                            <td class="col-sm-4" ng-class="{'has-error': form.reg_status.$invalid, 'has-success': !form.reg_status.$invalid}">
                                <select name="reg_status" ng-init="enums.regStatuses[0].value" ng-model="aircraft.reg_status" ng-options="regStatus.value as regStatus.label for regStatus in enums.regStatuses" class="form-control"></select>
                            </td>
                            <td class="col-sm-2">
                                <label for="reg_date" class="control-label">등록일자</label>
                            </td>
                            <td class="col-sm-4" ng-class="{'has-error': form.reg_date.$invalid, 'has-success': !form.reg_date.$invalid}">
                                <input type="text" name="reg_date" class="form-control" ng-model="aircraft.reg_date" placeholder="yyyy-MM-dd"  ng-pattern="/^(19|20)\d{2}\-\d{1,2}\-\d{1,2}$/" required />
                                <div class="error-container">
                                    <small class="help-block error" ng-show="form.reg_date.$error.required || form.reg_date.$error.pattern">정확한 등록일자를 입력하여 주십시오(예: 2015-01-01)</small>
                                </div>
                            </td>
                        </tr>
                        <tr class="form-group" ng-hide="showcmd==='add' && (form.reg_status.$invalid || form.reg_date.$invalid)">
                            <td class="col-sm-2">
                                <label for="reg_type" class="control-label">등록형태</label>
                            </td>
                            <td class="col-sm-4" ng-class="{'has-error': form.reg_type.$invalid, 'has-success': !form.reg_type.$invalid}">
                                <select name="reg_type" ng-init="enums.regTypes[0].value" ng-model="aircraft.reg_type" ng-options="regType.value as regType.label for regType in enums.regTypes"  ng-change="regTypeChange()" class="form-control" required></select>
                            </td>
                            <td class="col-sm-2">
                                <label for="ulv_no" class="control-label">이전번호</label>
                            </td>
                            <td class="col-sm-4" ng-class="{'has-error': form.ulv_no.$invalid, 'has-success': !form.ulv_no.$invalid}" ng-hide="aircraft.reg_type !== 'ULV'">
                                <input type="text" name="ulv_no" class="form-control" placeholder="이전 초경량신고번호" ng-model="aircraft.ulv_no" ng-pattern=" /^(S|B)[1-6]\d{3}$/"/>
                                <div class="error-container" ng-show="form.ulv_no.$dirty && form.ulv_no.$invalid">
                                    <small class="help-block error" ng-show="form.ulv_no.$error.pattern">정확한 신고번호를 입력하여 주십시오(예: S1234)</small>
                                </div>
                            </td>
                        </tr>
                        <tr class="form-group" ng-hide="showcmd==='add' && form.reg_type.$invalid">
                            <td class="col-sm-2">
                                <label for="_owner" class="control-label">소유자</label>
                            </td>
                            <td class="col-sm-10" colspan="3" ng-class="{'has-error': form._owner.$invalid, 'has-success': !form._owner.$invalid}">
                                <div class="input-group input-group-sm" style="width:100%">
                                    <input type="text" name="_owner" ng-model="aircraft._owner" typeahead="item as item.name for item in owners | filter:{name: $viewValue}" typeahead-editable="false" typeahead-template-url="app/template/ownerTypeAhead.html" class="form-control" required />
                                    <div class="input-group-btn dropdown">
                                        <button type="button" class="btn btn-sm btn-warning dropdown-toggle">
                                            Action<span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a ng-click="ownerChange('add', null)">추가</a></li>
                                            <li ng-show="aircraft._owner"><a ng-click="ownerChange('mod', aircraft._owner)">수정</a></li>
                                            <li ng-show="aircraft._owner"><a ng-click="ownerChange('del', aircraft._owner)">삭제</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="error-container" ng-show="form._owner.$dirty && form._owner.$invalid">
                                    <small class="help-block error" ng-show="form._owner.$invalid">소유자를 선택하여 주십시오</small>
                                </div>
                            </td>
                        </tr>
                        <tr class="form-group" ng-hide="showcmd==='add' && (form.owner.$invalid || form.phone.$invalid)">
                            <td class="col-sm-2">
                                <label for="region" class="control-label">권역</label>
                            </td>
                            <td class="col-sm-4" ng-class="{'has-error': form.region.$invalid, 'has-success': !form.region.$invalid}">
                                <select name="region" ng-init="enums.regions[0].value" ng-model="aircraft.region" ng-change="regionChange()" ng-options="region.value as region.label for region in enums.regions" class="form-control" required></select>
                            </td>
                            <td class="col-sm-2">
                                <label for="acenter" class="control-label">관할</label>
                            </td>
                            <td class="col-sm-4" ng-class="{'has-error': form.acenter.$invalid, 'has-success': !form.acenter.$invalid}">
                                <select name="acenter" ng-init="enums.aCenters[0].value" ng-model="aircraft.acenter" ng-options="acenter.value as acenter.label for acenter in enums.aCenters" class="form-control" required></select>
                            </td>
                        </tr>
                        <tr class="form-group" ng-hide="showcmd==='add' && (form.region.$invalid || form.acenter.$invalid)">
                            <td>
                                <label for="place" class="control-label">보관처</label>
                            </td>
                            <td colspan="3" ng-class="{'has-error': form.place.$invalid, 'has-success': !form.place.$invalid}">
                                <input type="text" name="place" class="form-control" placeholder="보관처(주소)" ng-model="aircraft.place" required/>
                                <div class="error-container" ng-show="form.place.$dirty && form.place.$invalid">
                                    <small class="help-block error" ng-show="form.place.$error.required">보관처를 입력하여 주십시오</small>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
           <div class="panel panel-default form-group">
                <div class="panel-heading">기체정보</div>
                <table class="table table-bordered table-condensed" ng-hide="showcmd==='add' && form.place.$invalid">
                    <tbody>
                    <tr class="form-group">
                            <td class="col-sm-2">
                                <label for="lsa_type" class="control-label">기체 종류</label>
                            </td>
                            <td class="col-sm-10" colspan="3">
                                <div class="col-sm-5" ng-class="{'has-error': form.lsa_type.$invalid, 'has-success': !form.lsa_type.$invalid}">
                                    <select name="lsa_type" ng-model="aircraft.lsa_type" ng-options="lsaType.value as lsaType.label for lsaType in aTypes" ng-change="lsaTypeChange(aircraft.lsa_type)" ng-disabled="showcmd!=='add'" class="form-control" required></select>
                                </div>
                                <div class="col-sm-3" ng-hide="showcmd==='add' && !aircraft.lsa_type">
                                    <div class="input-group">
                                        <div ng-class="{'has-error': form.no_seat.$invalid, 'has-success': !form.no_seat.$invalid}">
                                            <input type="number" name="no_seat" class="form-control" placeholder="0~2" ng-model="aircraft.no_seat" min="0" max="2" required/>
                                        </div>
                                        <span class="input-group-addon input-sm">인승</span>
                                    </div>
                                    <div class="error-container" ng-show="form.no_seat.$dirty && form.no_seat.$invalid">
                                        <small class="help-block error" ng-show="form.no_seat.$error.required || form.no_seat.$error">정확한 좌석수를 입력하여 주십시오.(0 ~ 2)</small>
                                    </div>
                                </div>
                                <div class="col-sm-4"  ng-hide="showcmd==='add' && !aircraft.no_seat" ng-class="{'has-error': form.gear_type.$invalid, 'has-success': !form.gear_type.$invalid}">
                                    <select name="gear_type" ng-model="aircraft.gear_type" ng-options="geartype.value as geartype.label for geartype in enums.gearTypes" class="form-control" required></select>
                                </div>
                            </td>
                        </tr>
                        <tr class="form-group" ng-hide="showcmd==='add' && (!aircraft.lsa_type || !aircraft.no_seat || !aircraft.gear_type)">
                            <td class="col-sm-2">
                                <label for="model" class="control-label">형식</label>
                            </td>
                            <td class="col-sm-10" colspan="3" ng-class="{'has-error': form.model.$invalid, 'has-success': !form.model.$invalid}">
                                <input type="text" name="model" ng-model="aircraft.model" ng-disabled="!aircraft.lsa_type" typeahead="item.model as item.desc for item in aircraftModels | filter:$viewValue" typeahead-on-select="selectModel($item, $model, $label)" class="form-control" required>
                                <div class="error-container" ng-show="form.model.$dirty && form.model.$invalid">
                                    <small class="help-block error" ng-show="form.model.$error.required">형식명을 입력하여 주십시오</small>
                                </div>
                            </td>
                        </tr>
                        <tr class="form-group" ng-hide="showcmd==='add' && !aircraft.model">
                            <td class="col-sm-2">
                                <label for="_bld_asm" class="control-label">제작자</label>
                            </td>
                            <td class="col-sm-10" colspan="3" ng-class="{'has-error': form._bld_asm.$invalid, 'has-success': !form._bld_asm.$invalid}">
                                <div class="input-group input-group-sm" style="width:100%">
                                    <select name="_bld_asm" ng-model="aircraft._bld_asm" ng-change="selchange()" ng-options="builder.name for builder in builders track by builder._id" class="form-control" required></select>
                                    <div class="input-group-btn dropdown">
                                        <button type="button" class="btn btn-sm btn-warning dropdown-toggle">
                                            Action<span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a ng-click="builderChange('add', null, 'BLD_ASM')">추가</a></li>
                                            <li><a ng-click="builderChange('mod', aircraft._bld_asm, 'BLD_ASM')">수정</a></li>
                                            <li><a ng-click="builderChange('del', aircraft._bld_asm, 'BLD_ASM')">삭제</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="error-container" ng-show="form._bld_asm.$dirty && form._bld_asm.$invalid">
                                    <small class="help-block error" ng-show="form._bld_asm.$error.required">제작자를 선택하여 주십시오.</small>
                                </div>
                            </td>
                        </tr>
                        <tr class="form-group" ng-hide="showcmd==='add' && !aircraft._bld_asm">
                            <td class="col-sm-2">
                                <label for="_bld_kit" class="control-label">키트제작자</label>
                            </td>
                            <td class="col-sm-10" colspan="3" ng-class="{'has-error': form._bld_kit.$invalid, 'has-success': !form._bld_kit.$invalid}">
                                <div class="input-group input-group-sm" style="width:100%">
                                    <select name="_bld_kit" ng-model="aircraft._bld_kit" ng-change="selchange()" ng-options="builder.name for builder in builders track by builder._id" class="form-control" required></select>
                                    <div class="input-group-btn dropdown">
                                        <button type="button" class="btn btn-sm btn-warning dropdown-toggle">
                                            Action<span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a ng-click="builderChange('add', null, 'BLD_ASM')">추가</a></li>
                                            <li><a ng-click="builderChange('mod', aircraft._bld_kit, 'BLD_ASM')">수정</a></li>
                                            <li><a ng-click="builderChange('del', aircraft._bld_kit, 'BLD_ASM')">삭제</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="error-container" ng-show="form._bld_kit.$dirty && form._bld_kit.$invalid">
                                    <small class="help-block error" ng-show="form._bld_kit.$error">키트제작자를 선택하여 주십시오.</small>
                                </div>
                            </td>
                        </tr>
                        <tr class="form-group" ng-hide="showcmd==='add' && !aircraft._bld_kit">
                            <td class="col-sm-2">
                                <label for="sn" class="control-label">일련번호</label>
                            </td>
                            <td class="col-sm-10" colspan="3" ng-class="{'has-error': form.sn.$invalid, 'has-success': !form.sn.$invalid}">
                                <input type="text" name="sn" class="form-control" palceholder="기체 일련번호" ng-model="aircraft.sn" required/>
                                <div class="error-container" ng-show="form.sn.$dirty && form.sn.$invalid">
                                    <small class="help-block error" ng-show="form.sn.$error.required">일련번호를 입력하여 주십시오</small>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel panel-default form-group">
                <div class="panel-heading">장착 부품<small>&nbsp;(필수부품: {{getRequiredCompTypesStr()}})</small></div>
                <table class="table table-condensed table-hover" ng-hide="showcmd==='add' && form.sn.$invalid">
                    <thead>
                        <td class="col-sm-1">종류</td>
                        <td class="col-sm-3">형식</td>
                        <td class="col-sm-2">일련번호</td>
                        <td class="col-sm-2">제작일자</td>
                        <td class="col-sm-1">TSN</td>
                        <td class="col-sm-1">TSO</td>
                        <td class="col-sm-1">상태</td>
                    </thead>
                    <tr ng-repeat="component in aircraft.components">
                        <td>{{enums.COMP_TYPE[component._product.comp_type].label}}</td>
                        <td><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="{{component.etc}}"></span>&nbsp;<a ng-click="compStatusChange('mod', component)">{{component._product.model}} {{component._product.sub_model}} {{component._product.revision}}</a></td>
                        <td><input type="text" class="form-control" placeholder="일련번호" ng-model="component.sn" /></td>
                        <td><input type="text" class="form-control" placeholder="제작일자" ng-model="component.mfg_date" /></td>
                        <td><input type="text" class="form-control" placeholder="Time Since New" ng-model="component.tsn" /></td>
                        <td><input type="text" class="form-control" placeholder="Time Since Overhaul" ng-model="component.tso" /></td>
                        <td>
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" ng-disabled="(component._product.comp_type == 'AIRFRAME')">
                                {{getInstalledString(component.installed)}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                <li><a ng-click="compStatusChange('install', component)">{{getInstalledString(!component.installed)}}</a></li>
                                <li class="divider"></li>
                                <li><a ng-click="compStatusChange('add', component)">추가</a></li>
                                <li><a ng-click="compStatusChange('mod', component)">수정</a></li>
                                <li><a ng-click="compStatusChange('del', component)">제거</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td colspan="7" align="right">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="compStatusChange('add', component)" ng-disabled="">
                                    <span class="glyphicon glyphicon-plus"></span>부품 추가
                                </button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div ng-controller="AFileCtrl" ng-init="init(afiles)" class="form-group">
                <a-files></a-files>
            </div>
            <span class="input-group-btn2">
                <button type="submit" class="btn btn-primary" ng-click="updateAircraft(aircraft)" ng-disabled="form.$invalid || saving">{{txtSubmit}}<i class="fa fa-spinner fa-spin" ng-show="saving"></i></button>
                <button type="submit" class="btn btn-danger" ng-click="deleteAircraft(aircraft)" ng-disabled="form.$invalid || saving">삭제</button>
            </span>
        </fieldset>
      </form>
  </div>
    <a ui-sref="aircraft.list">기체 목록으로 돌아가기</a>
</div>
